@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

 body{
   margin-top: -10px; 
} 
/* Section 1 */
/* navbar css */
.home{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.navbar {
  
    padding: 20px;
    background-color: #000;
  }
.dropdown-menu{
 background-color: #000;
}
.dropdown-item:hover{
    background-color: rgb(163, 161, 161);
}
video {
  width: 100%;
  height: auto;
}

/* About US*/
.sec-02 {
  width: 100%;

  background-image: linear-gradient(to bottom, #263d96, #04030a);
  position: relative;
  margin-top: -10px ;
  display: block;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sec-02 .container {
  padding: 3rem;
  width: 80%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  
}
.container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
  position: relative;
  top: 30px;
}
/* .border{
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.shadow{
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.opacity{
  opacity: 0;
} */


  /* card */
  .comm_info{
    background-image: url(images/Untitled\ design\ \(9\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70%;
    
  }
  .sec-03{
    background-image: url(images/Untitled\ design\ \(9\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-direction: alternate;
  }
 .card_01,.card_02,.card_03,.card_04,.card_05,.card_06,.card_07,.card_08{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #fff;
    position: relative;
    top: 30px;
    
  }
  /* .card_01{
    width: 520px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #fff;
    position: relative;
    top: 30px;
  } */
  .card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .card_body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
transition: 2s;
  }
  .card_01:hover .card_body{
    right: 0;

  }
  .card_02:hover .card_body{
    right: 0;

  }
 
  .card_03:hover .card_body{
    right: 0;

  }
  .card_04:hover .card_body{
    right: 0;

  }
  .card_05:hover .card_body{
    right: 0;

  }
  .card_06:hover .card_body{
    right: 0;

  }
  .card_07:hover .card_body{
    right: 0;

  }
  .card_08:hover .card_body{
    right: 0;

  }
  .comm_name{
    margin-top: 20px;
    font-size: 25px;
  }
 
  .card_info{
    font-size: 14px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
  }
 
  .prompt_01,.prompt_02,.prompt_03,.prompt_04,.prompt_05,.prompt_06,.prompt_07,.prompt_08{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
  }

  @media screen and (max-width: 768px) {

    .prompt_01,.prompt_02,.prompt_03,.prompt_04,.prompt_05,.prompt_06,.prompt_07,.prompt_08{
      flex-direction: column ;
      
    }

    .prompt_02,.prompt_04,.prompt_06,.prompt_08 {
      flex-direction: column-reverse;
    }
    
  }

  .liner{
    position: relative;
    top: 50px;
    
    width: 500px;
    height: 200px;
    color: white;
  }
  